.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-three;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 4;
    animation: fadeIn 0.7s ease;
    .loader {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 4px solid $purple;
        border-top-color: transparent;
        animation: rotate 1s infinite linear;
    }
}